<br /> 
<img src="~/images/adminarea.jpg" alt="Área de Administração" class="mt-1" />

<div class="container">
    <div class="jumbotron">
        <p>
            <h2>Esta é a área do Admin</h2>
        </p>
    </div>
    <a asp-area="" asp-controller="Home" asp-action="Index">Volta a Homepage</a>
</div>